doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon"/>
    script(src="/jquery/dist/jquery.min.js")
    link(href="/css/movie/index/index.css", rel="stylesheet")
    link(href="/css/movie/public/douban.css", rel="stylesheet")
    link(href="/css/movie/public/bundle.css", rel="stylesheet")
    link(href="/css/movie/public/dialog.css", rel="stylesheet")

    block otherStyle


  body
    div#db-global-nav.global-nav 
      div.bd
        div.top-nav-info
          if user
            a 欢迎您,#{user.username}
            a.navbar-link(href="#" onclick='logout()') 注销
          else
            a.nav-register(href="/getRegistePage") 注册
            a.nav-login(href="/getLoginPage") 登录
        div.global-nav-items
          ul
            li
              a(href="#") 豆瓣
            li
              a(href="/") 电影
            li
              a(href="/musciIndex") 音乐
    div#db-nav-movie.nav
      div.nav-wrap
        div.nav-primary
          div.nav-logo(style="background-color:rgb(240,243,245)")
            a(href="/") 豆瓣电影
          div.nav-search
            form(action="/searchMovie" method="get")
              fieldset
                legend 搜索
                label(for="inp-query")
                div.inp
                  input#inp-query(name="search_text" size="22" maxlength="60" placeholder="电影" value="" autocomplete="off" class="placeholder")
                div.inp-btn
                  input(value="搜索" type="submit")
    block content
block srcipts 

