
.dui-dialog-msk {
    background: #edfaff none repeat scroll 0 0;
}
.account_pop {
    animation-duration: 1s;
    animation-name: fade;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.account_pop .dui-dialog-shd {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    opacity: 1;
}
.account_pop .hd {
    padding: 0;
}
.account_pop .dui-dialog-content {
    border-radius: 3px;
    overflow: hidden;
}
.account_pop .dui-dialog-content .bd {
    font-size: 0;
    padding: 0;
}
.account_pop .dui-dialog-close, .account_pop .dui-dialog-close:link, .account_pop .dui-dialog-close:visited, .account_pop .dui-dialog-close:hover, .account_pop .dui-dialog-close:active {
    font-size: 13px;
}
.account_pop fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
