.form-control {
  width: 70% !important;
}
.searchArea {
  margin: 10px 0 10px 0;
}
.searchArea label {
    margin-top: 5px;
}
.buttonGroup div {
  margin-left: 25px;
  margin-bottom: 10px;
}
thead tr {
  background-color: rgb(54,71,96);
  color: #fff;
}
tr th, tr td {
  text-align: center;
}