
body, td, th {
    font: 12px/1.62 Helvetica,Arial,sans-serif;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: outside none none;
}
input {
    font-size: 12px;
    margin-right: 3px;
    vertical-align: middle;
}
a {
    cursor: pointer;
}
.nav {
    margin-bottom: 40px;
    min-width: 950px;
    overflow: hidden;
    width: 100%;
}
.nav .nav-wrap {
    border-bottom: 1px solid #e5ebe4;
}
.nav .nav-primary {
    margin: 0 auto;
    overflow: visible;
    padding: 10px 0 5px;
    position: relative;
    width: 950px;
}
.nav .nav-logo {
    float: left;
    height: 56px;
    margin: 0 13px 0 0;
    width: 145px;
}
.nav .nav-logo a {
    display: block;
    height: 100%;
    line-height: 100em;
    overflow: hidden;
    width: 100%;
}
.nav .nav-logo a:hover, .nav .nav-logo a:active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
legend {
    color: #000;
}
label {
    font-family: Tahoma;
    vertical-align: middle;
}
fieldset {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 10px;
}
fieldset img {
    border: 0 none;
}
fieldset legend {
    color: #666;
    padding: 0 5px;
}
.nav-search {
    margin-left: 145px;
    overflow: visible;
    padding: 10px 0 15px;
    position: relative;
}
.nav-search fieldset {
    border: medium none;
    margin: 0;
    padding: 0;
    position: static;
}
.nav-search legend {
    display: none;
}
.nav-search label {
    color: #bbb;
    cursor: text;
    left: 11px;
    line-height: 30px;
    position: absolute;
    top: 10px;
    width: auto;
}
.nav-search .inp {
    cursor: text;
    float: left;
    height: 34px;
    margin-right: -3px;
    text-align: center;
    width: 470px;
}
.nav-search .inp input {
    background: #fff none repeat scroll 0 0;
    height: 30px;
    margin: 0;
    outline: medium none;
    padding-left: 10px;
    text-align: left;
    width: 96%;
}
.nav-search input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
}
.nav-search .inp-btn {
    height: 34px;
    left: -1px;
    overflow: hidden;
    position: relative;
    width: 37px;
}
.nav-search .inp-btn input {
    color: transparent;
    cursor: pointer;
    font-size: 0;
    height: 100%;
    overflow: hidden;
    padding: 35px 0 0;
    width: 100%;
}
form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.nav-secondary {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 0;
    width: 950px;
}
.nav-secondary .nav-items {
    float: none;
    font-size: 13px;
}
.nav-secondary::after {
    clear: both;
    content: " ";
    display: block;
}
.nav-secondary ul {
    margin: 9px 0;
}
.nav-secondary li {
    display: inline;
    margin-right: 25px;
}
.nav-srh .inp {
    position: relative;
    z-index: 40;
}
#search_suggest {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: currentcolor #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    position: absolute;
    top: 32px;
    width: 302px;
    z-index: 99;
}
#search_suggest li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
#search_suggest li:last-child {
    border-bottom: 0 none;
}
#search_suggest li.curr_item {
    background: #efefef none repeat scroll 0 0;
}
#search_suggest li a {
    color: #999;
    display: block;
    overflow: hidden;
    padding: 6px;
}
#search_suggest li a:link, #search_suggest li a:visited {
    text-decoration: none;
}
#search_suggest li a:hover {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #999;
}
#search_suggest li a em {
    color: #369;
    font-style: normal;
}
#search_suggest li p {
    margin: 0;
    overflow: hidden;
}
#search_suggest li img {
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}
#search_suggest li.over {
    background: #fbfbfb none repeat scroll 0 0;
}
#search_suggest {
    margin-left: -5px;
    margin-top: 2px;
    width: 468px;
}
#db-nav-music {
    background: #f0f3ef none repeat scroll 0 0;
}
#db-nav-music .nav-wrap {
    border-color: #e3e9e2;
}
#db-nav-music .nav-logo {
    background: rgba(0, 0, 0, 0) url("https://img3.doubanio.com/dae/accounts/resources/c936707/music/assets/lg_music_a12_2.png?s=1") no-repeat scroll 0 12px;
}
#db-nav-music a:link, #db-nav-music a:visited {
    color: #555d53;
    text-decoration: none;
}
#db-nav-music a:active, #db-nav-music a:hover {
    background-color: #555d53;
    color: #fff;
}
.nav-search .inp {
    background-image: url("https://img3.doubanio.com/dae/accounts/resources/c936707/music/assets/nav_mu_bg.png?s=1");
}
.nav-search .inp-btn input {
    background: rgba(0, 0, 0, 0) url("https://img3.doubanio.com/dae/accounts/resources/c936707/music/assets/nav_mu_bg.png?s=1") no-repeat scroll 0 -40px;
}





body {
    margin: 0;
}
#db-global-nav {
    font: 12px/1.62 Helvetica,Arial,sans-serif;
}
#db-global-nav em {
    font-style: normal;
    font-weight: normal;
}
#db-global-nav ul {
    margin: 0;
    padding: 0;
}
#db-global-nav table, #db-global-nav td, #db-global-nav th {
    font-size: 12px;
}
#db-global-nav a {
    cursor: pointer;
    text-decoration: none;
}
#db-global-nav .bn-more span {
    display: inline-block;
    vertical-align: baseline;
}
#db-global-nav .arrow {
    border-color: #d5d5d5 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 3px 3px 0;
    font-size: 0;
    height: 0;
    left: 2px;
    line-height: 0;
    position: relative;
    top: -2px;
    width: 0;
}
#db-global-nav a:hover .arrow {
    border-color: #fff transparent transparent;
}
#db-global-nav .more-active {
    position: relative;
    z-index: 10;
}
#db-global-nav .more-active a:link, #db-global-nav .more-active a:visited {
    color: #369;
}
#db-global-nav .more-active .arrow {
    border-color: #fff transparent transparent;
}
#db-global-nav .more-active .bn-more span {
    color: #fff;
}
#db-global-nav .more-active .more-items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    display: block;
    padding: 10px 0;
    top: 28px;
    white-space: nowrap;
}
#db-global-nav .more-active .more-items table, #db-global-nav .more-active .more-items td {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
}
#db-global-nav .more-active .more-items li {
    display: block;
}
#db-global-nav .more-active .more-items a {
    display: block;
    line-height: 28px;
    padding: 0 20px;
}
#db-global-nav .more-active .more-items a:link, #db-global-nav .more-active .more-items a:visited {
    color: #3d3d3d;
}
#db-global-nav .more-active .more-items a:hover {
    background-color: #f6f6f6;
    color: #3d3d3d;
}
#db-global-nav .more-items {
    display: none;
    left: 0;
    position: absolute;
}
#db-global-nav {
    background-color: #545652;
    color: #d5d5d5;
    height: 28px;
    min-width: 950px;
}
#db-global-nav a:link, #db-global-nav a:visited, #db-global-nav a:hover, #db-global-nav a:active {
    color: #d5d5d5;
}
#db-global-nav a:hover, #db-global-nav a:active {
    background-color: transparent;
    color: #fff;
}
#db-global-nav .global-nav-items {
    font-size: 0;
}
#db-global-nav .global-nav-items li {
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    vertical-align: baseline;
}
#db-global-nav .global-nav-items a {
    display: inline-block;
    height: 28px;
    padding: 0 12px;
}
#db-global-nav li.market-tip {
    padding-right: 20px;
}
#db-global-nav li.market-tip a {
    position: relative;
    z-index: 1;
}
#db-global-nav li.market-tip a img {
    height: 19px;
    left: 39px;
    position: absolute;
    width: 18px;
}
#db-global-nav .top-nav-info {
    float: right;
    line-height: 28px;
    margin: 0 12px 0 0;
}
#db-global-nav .top-nav-info ul, #db-global-nav .top-nav-info li {
    display: inline-block;
}
#db-global-nav .top-nav-info a {
    display: inline-block;
    height: 28px;
    margin: 0;
    padding: 0 12px;
}
#db-global-nav .nav-user-account .more-items {
    left: auto;
    right: 6px;
}
#db-global-nav .more-active .lnk-remind:link, #db-global-nav .more-active .lnk-remind:visited, #db-global-nav .more-active .lnk-remind:hover, #db-global-nav .more-active .lnk-remind:active {
    color: #fff;
}
.global-nav-a .bd {
    margin: 0 auto;
    max-width: 1600px;
}
.global-nav-b .bd {
    margin: 0 auto;
    max-width: 1440px;
}
#db-global-nav .top-nav-reminder {
    float: right;
    line-height: 28px;
    margin-right: 5px;
    position: relative;
}
#db-global-nav .top-nav-reminder a {
    position: relative;
}
#db-global-nav .top-nav-reminder .lnk-remind {
    display: inline-block;
    height: 28px;
    padding: 0 12px;
}
#db-global-nav .top-nav-reminder .num {
    background-color: #f7996d;
    color: #fff;
    left: 3em;
    line-height: 1.5;
    margin-left: 5px;
    padding: 0 3px;
    position: absolute;
    top: 4px;
}
#db-global-nav .top-nav-reminder .num i {
    border-color: transparent #f7996d transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 6px 6px 3px 5px;
    height: 0;
    left: -9px;
    line-height: 0;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
#db-global-nav .top-nav-reminder .more-items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    left: -125px;
    overflow-wrap: break-word;
    padding: 0;
    position: absolute;
    top: 28px;
    white-space: normal;
    width: 280px;
    z-index: 999;
}
#db-global-nav .top-nav-reminder .more-items a {
    display: inline;
    line-height: inherit;
    padding: 0;
}
#db-global-nav .top-nav-reminder .more-items a:link {
    color: #369;
}
#db-global-nav .top-nav-reminder .more-items a:visited {
    color: #669;
}
#db-global-nav .top-nav-reminder .more-items a:hover {
    background-color: #039;
    color: #fff;
}
#db-global-nav .top-nav-reminder .more-items a:active {
    background-color: #f93;
    color: #fff;
}
#db-global-nav .top-nav-reminder .more-items .bd {
    color: #3e3e3e;
    line-height: 1.5;
    padding-top: 16px;
}
#db-global-nav .top-nav-reminder .more-items .bd p {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 15px 13px;
}
#db-global-nav .top-nav-reminder .more-items .ft a {
    background-color: #fafafa;
    display: block;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}
#db-global-nav .top-nav-reminder .more-items .ft a:hover, #db-global-nav .top-nav-reminder .more-items .ft a:active {
    background-color: #f5f5f5;
    color: #369;
}
#db-global-nav .top-nav-reminder .more-items p {
    color: #999;
    margin: 0;
}
#db-global-nav .top-nav-reminder .more-items li {
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 13px 15px;
}
#db-global-nav .top-nav-reminder .more-items li .pic {
    float: left;
    margin-right: 8px;
}
#db-global-nav .top-nav-reminder .more-items li .content {
    overflow: hidden;
    width: auto;
}
#db-global-nav .top-nav-reminder .more-items li .content a {
    line-height: 1.4;
}
#db-global-nav .top-nav-reminder .more-items li .item-req {
    border: medium none;
    padding: 0;
}
#db-global-nav .top-nav-reminder .more-items li .item-req .ops {
    color: #aaa;
    float: right;
    overflow: hidden;
    position: static;
    width: 49px;
}
#db-global-nav .top-nav-reminder .more-items li .item-req .ops a:link, #db-global-nav .top-nav-reminder .more-items li .item-req .ops a:visited, #db-global-nav .top-nav-reminder .more-items li .item-req .ops a:hover, #db-global-nav .top-nav-reminder .more-items li .item-req .ops a:active {
    color: #aaa;
}
#db-global-nav .top-nav-reminder .more-items li .item-req .ops a:hover, #db-global-nav .top-nav-reminder .more-items li .item-req .ops a:active {
    background-color: #aaa;
    color: #fff;
}
#db-global-nav .top-nav-reminder .more-items li .unread {
    background-color: transparent;
}
#db-global-nav .top-nav-reminder .more-items li .new-reply-item {
    overflow: hidden;
}
#db-global-nav .top-nav-reminder .more-items li .new-reply-item .content {
    float: left;
    width: 186px;
}
.top-nav-reminder.more-active {
    color: #fff;
}
.top-nav-reminder.more-active .num {
    z-index: 1000;
}
.top-nav-reminder.more-active .more-items {
    display: block;
    z-index: 999;
}
body #db-pay-tips {
    top: 136px;
}
.perf-metric {
    margin-left: -240px;
    position: absolute;
}
#db-global-nav .top-nav-doubanapp {
    float: right;
    line-height: 28px;
    margin-right: 5px;
    position: relative;
}
#db-global-nav .top-nav-doubanapp .lnk-doubanapp {
    display: inline-block;
    height: 28px;
    padding: 0 8px;
}
#db-global-nav .top-nav-doubanapp .more-items {
    border-top: medium none;
    color: #111;
    font-size: 15px;
    font-weight: bold;
    left: -76px;
    line-height: 1.62;
    padding: 10px 20px 30px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 211px;
}
#db-global-nav .top-nav-doubanapp .more-items .appintro-title {
    background: rgba(0, 0, 0, 0) url("//img3.doubanio.com/dae/accounts/resources/6034966/shire/assets/nav_doubanapp_6.png") no-repeat scroll center center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 170px;
}
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
#db-global-nav .top-nav-doubanapp .more-items .appintro-title {
    background-image: url("//img3.doubanio.com/dae/accounts/resources/6034966/shire/assets/nav_doubanapp_6@2x.png");
    background-size: 100px auto;
}
}
#db-global-nav .top-nav-doubanapp .more-items .appintro-title span {
    font-weight: 100;
    margin-left: 10px;
}
#db-global-nav .top-nav-doubanapp .more-items .slogan {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
}
#db-global-nav .top-nav-doubanapp .more-items .qrcode {
    background: rgba(0, 0, 0, 0) url("//img3.doubanio.com/dae/accounts/resources/6034966/shire/assets/nav_doubanapp_6_qrcode.png") no-repeat scroll center center;
    font-size: 0;
    margin-top: 30px;
    padding-top: 160px;
}
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
#db-global-nav .top-nav-doubanapp .more-items .qrcode {
    background-image: url("//img3.doubanio.com/dae/accounts/resources/6034966/shire/assets/nav_doubanapp_6_qrcode@2x.png");
    background-size: 160px 160px;
}
}
#db-global-nav .top-nav-doubanapp .download {
    margin-top: 10px;
}
#db-global-nav .top-nav-doubanapp .download a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}
#db-global-nav .top-nav-doubanapp .download a:link, #db-global-nav .top-nav-doubanapp .download a:visited {
    color: #37a;
}
#db-global-nav .top-nav-doubanapp .download a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#db-global-nav .top-nav-doubanapp .download .download-android {
    background-position: 0 -130px;
    margin-top: 8px;
}
#db-global-nav .top-nav-doubanapp .download .download-android::before {
    content: "";
}
#db-global-nav #doubanapp-tip {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    color: #13bc39;
    display: none;
    padding: 0 30px 0 10px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
    z-index: 10;
}
#db-global-nav #doubanapp-tip::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #13bc39;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    height: 7px;
    left: 35px;
    position: absolute;
    top: -5px;
    transform: rotate(-45deg);
    width: 7px;
}
#db-global-nav #doubanapp-tip .tip-link:link, #db-global-nav #doubanapp-tip .tip-link:visited, #db-global-nav #doubanapp-tip .tip-link:hover, #db-global-nav #doubanapp-tip .tip-link:active {
    background: #fff none repeat scroll 0 0;
    color: #13bc39;
}
#db-global-nav #doubanapp-tip .tip-close {
    height: 15px;
    line-height: 26px;
    position: absolute;
    right: 6px;
    text-align: center;
    width: 15px;
}
#db-global-nav #doubanapp-tip .tip-close:hover {
    color: #999;
}
#db-global-nav .top-nav-doubanapp.more-active .lnk-doubanapp:link, #db-global-nav .top-nav-doubanapp.more-active .lnk-doubanapp:visited, #db-global-nav .top-nav-doubanapp.more-active .lnk-doubanapp:hover, #db-global-nav .top-nav-doubanapp.more-active .lnk-doubanapp:active {
    color: #fff;
}
#db-global-nav {
}
#db-global-nav .tips-overly, #db-global-nav .tips-common {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bfddb7;
    left: 0;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 99;
}
#db-global-nav .tips-overly .tips-bd, #db-global-nav .tips-common .tips-bd {
    color: #333;
    line-height: 1.62;
    padding: 12px 15px;
}
#db-global-nav .tips-overly h2, #db-global-nav .tips-common h2 {
    color: #333;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 6px;
}
#db-global-nav .tips-overly p, #db-global-nav .tips-common p {
    margin: 0 0 12px;
}
#db-global-nav .tips-overly .lnk-bn, #db-global-nav .tips-common .lnk-bn {
    display: inline-block;
    font-size: 12px;
    line-height: 1.4;
    padding: 2px 8px;
}
#db-global-nav .tips-overly a.lnk-bn:link, #db-global-nav .tips-common a.lnk-bn:link, #db-global-nav .tips-overly a.lnk-bn:visited, #db-global-nav .tips-common a.lnk-bn:visited {
    background-color: #4aac66;
    color: #fff;
    font-size: 12px;
}
#db-global-nav .tips-overly a.lnk-bn:hover, #db-global-nav .tips-common a.lnk-bn:hover, #db-global-nav .tips-overly a.lnk-bn:active, #db-global-nav .tips-common a.lnk-bn:active {
    background-color: #4dc36f;
    color: #fff;
    font-size: 12px;
}
#db-global-nav .back-old {
    margin-top: -20px;
    padding-bottom: 5px;
    text-align: right;
}
#db-global-nav .tips-overly .tips-hd, #db-global-nav .tips-common .tips-hd {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #bfddb7;
    border-top: 1px solid #bfddb7;
    height: 10px;
    left: 8px;
    line-height: 10em;
    overflow: hidden;
    position: absolute;
    top: -6px;
    transform: rotate(45deg);
    width: 10px;
}
#db-global-nav .tips-common {
    background-color: #fffde9;
    border-color: #c3c3c3;
    left: 50%;
    margin-left: -100px;
    margin-top: 7px;
    top: 100%;
    width: 157px;
    z-index: 100;
}
#db-global-nav .tips-common .tips-hd {
    background-color: #fffde9;
    border-color: #c3c3c3;
    left: 51%;
    margin-left: 13px;
}
#db-global-nav .tips-common .tips-bd {
    padding: 10px 15px 20px;
}
#db-global-nav .tips-common .tips-content {
    margin-bottom: 6px;
}
#db-global-nav .tips-common .lnk-close {
    bottom: 5px;
    position: absolute;
    right: 15px;
}
#db-global-nav .tips-common a.lnk-bn:link, #db-global-nav .tips-common a.lnk-bn:visited, #db-global-nav .tips-common a.lnk-bn:hover, #db-global-nav .tips-common a.lnk-bn:active {
    background-color: transparent;
    color: #999;
    display: inline;
    height: auto;
    padding: 0;
}
#db-global-nav .tips-common a.lnk-bn:hover, #db-global-nav .tips-common a.lnk-bn:active {
    background: #999 none repeat scroll 0 0;
    color: #fff;
}
#db-global-nav .nav-user-account {
    position: relative;
}
#db-global-nav .nav-user-account .tips-common {
    margin-left: -140px;
    width: 200px;
}
#db-global-nav .nav-user-account .tips-common a {
    display: inline;
    padding: 0;
}
#db-global-nav .nav-user-account .tips-common a:link {
    color: #37a;
}
#db-global-nav .nav-user-account .tips-common a:hover {
    background-color: #37a;
    color: #fff;
}
