block footer
  div#footer
    div.footer-extra
    span#icp.fleft.gray-link © 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
    a(href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;")
    span.fright
      a(href="https://www.douban.com/about") 关于豆瓣·
      a(href="https://www.douban.com/jobs") 在豆瓣工作·
      a(href="https://www.douban.com/about?topic=contactus") 联系我们·
      a(href="https://www.douban.com/about?policy=disclaimer") 免责声明·
      a(href="https://help.douban.com/?app=movie" target="_blank") 帮助中心·
      a(href="https://www.douban.com/doubanapp/") 移动应用·
      a(href="https://www.douban.com/partner/") 豆瓣广告